* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", system-ui, sans-serif;
}

body {
    background-color: #f0f2f5;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow-y: hidden;
}

.header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 2rem;
    grid-column: 2 / -1;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
}

.header form {
    display: flex;
    align-items: center;
    max-width: 700px;
    min-width: 200px;
    width: 100%;
}

.header form label svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #666666;
}

.header form input {
    background-color: #e4e6eb;
    border: none;
    height: 40px;
    border-radius: 20px;
    flex: 1;
    min-width: 30px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
    padding: 0 15px;
}

.header form input:focus {
    background-color: #d8dadf;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(15px, 3.5vw, 40px)
}

.notification svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile {
    border-radius: 50%;
    background-color: #e4e6eb;
    fill: #aeafb1;
}

.profile.one {
    height: 40px;
    width: 40px;
}

.profile.two {
    height: 70px;
    width: 70px;
}

.top-name {
    font-weight: 600;
    font-size: 1rem;
}

.greeting {
    display: flex;
    align-items: center;
    gap: 20px;
}

.greeting-text {
    font-size: .9rem;
    font-weight: bold;
    color: #666;
}

.username {
    font-size: 1.4rem;
    font-weight: bold;
}

.btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.btns button {
    padding: 10px 28px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #1992d4;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 100vh;
    background-color: #1992d4;
    color: white;
    padding: .2rem;
    top: 0;
    overflow-y: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-bottom: 1.5rem;
}

.logo svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin-bottom: 60px;
}

.links a svg {
    width: 24px;
    height: 24px;
    fill: #d2d2d2;
    transition: fill .3s ease;
}

.links li {
    margin-bottom: 5px;
}

.links a {
    text-decoration: none;
    color: #d2d2d2;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    margin-right: 45px; 
    border-radius: 12px;
    transition: all .3s ease;
}

.links a:hover {
    color: white;
    background-color: rgba(225, 255, 255, .1);
    transform: translateX(3px);
}

.links a:hover svg {
    fill: white;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2 / -1;
    padding: 30px 25px;
    gap: 30px;
    overflow-y: auto;
}

.title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    border-radius: 16px;
    padding: 2rem;
    border-left: 8px solid #fbbf24;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    gap: 15px;
    transition: all .3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-icons svg {
    width: 22px;
    height: 22px;
    fill: #94a3b8;
    cursor: pointer;
    transition: fill .2s;
}

.card-icons svg:hover {
    fill: black;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 700;
}

.card-content {
    font-size: .9rem;
    flex: 1;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 15px;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-card {
    background: white;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.announcement-item {
    padding: 15px 0;
    border-bottom: 1px solid #dee1e3;
}

.announcement-item:last-child {
    border-bottom: none;
}

.announcement-title {
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.announcement-description {
    font-size: .8rem;
    color: #6b7480;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.trending-avatar {
    height: 40px;
    height: 40px;
    border-radius: 50%;
}

.trending-item svg {
    background-color: #e4e6eb;
    fill: #aeafb1;
}

.trending-info .handle{
    font-size: .9rem;
    font-weight: 500;
}

.trending-info .project {
    font-size: .8rem;
    color: #6b788a;
}